@import "components/functions", "components/mixins", "components/vars";

@font-face {
    font-family: "Poppins";
    src: url("../font/Poppins-Regular.ttf") format("ttf");
}

* {
    @include reset-pm();
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    //font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bgbanner.jpg);
    background-repeat: repeat;
    background-size: 100%;
    overflow-y: scroll;
    font-size: 16px;
    font-family: Poppins;
}

a {
    color: $secondary-color;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    font-weight: bolder;
    font-size: size(6);
    color: $font-color;
}

h3 {
    font-weight: bolder;
    font-size: size(3);
    color: #ffffff;
}

h4 {
    font-size: 16px;
    color: white;
    font-weight: normal;
}

h5 {
    font-weight: bolder;
    font-size: size(3);
    color: #a6e2ff;
}

h6 {
    font-weight: normal;
    font-size: size(2.2);
    color: $celeste-color;
}

p {
    color: $font-color;
}

header {
    @include borderbox(white);
    background-color: $pink-color;
    background-size: 100% 100%;
    max-width: 80rem;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 2px 20px;
    nav {
        display: flex;
        place-items: center;
        align-items: center;
        justify-content: space-between;

        ul {
            @include reset-pm();
            list-style: none;
            display: flex;
            gap: 20px;
            li {
                a {
                    @include borderbox($pink-color);
                    @include btnAccordion($background-color: $pink-color, $color: white);
                    &:hover {
                        @include borderbox($secondary-color);
                        @include btnAccordion($background-color: $secondary-color, $color: $font-color);
                        box-shadow: $box-shadow;
                    }
                }
            }
        }
    }
}

footer {
    @include borderbox(white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
    background-color: #00355e;
    margin: 20px auto;
    max-width: 80rem;
    .logo {
        text-align: right;
        img {
            margin: 0 0 0 0;
        }
    }
    hr {
        max-height: 1rem;
        margin: 2rem 1rem 2rem 0;
        background-color: white;
        max-width: 35rem;
    }
    i {
        color: white;
        font-size: 1rem;
    }
}

.toggle {
    display: none;
    color: white;
    background: none;
    border: none;
    padding-top: 1rem;
    cursor: pointer;
    i {
        font-size: 3rem;
        &:hover {
            transition: width 2s, height 4s;
        }
    }
}

.container {
    @include borderbox(white);
    background-color: $secondary-color;
    margin: 0 auto;
    max-width: 80rem;
    padding: 3rem 3rem 3rem 3rem;
    margin: 20px auto;
}

.main {
    background-color: transparent;
    //min-height: 30rem;
    display: block;
    text-align: center;
    //justify-content: center;
    p {
        color: white;
        font-weight: bolder;
        text-shadow: 0.15rem 0.15rem $pink-color;
        font-size: 2rem;
        line-height: 3rem;
    }
    &:hover{
        background-color: $pink-color;
        transition: background-color 0.3s;
    }
}

.m-auto {
    margin: 0 auto;
}

.prices {
    .now {
        font-size: size(5);
        font-weight: bolder;
        color: rgb(255, 244, 194);
    }
}

.imgMainCup {
    @include borderbox($secondary-color);
    max-width: 40rem;
    margin: 0 auto;
    width: 100%;
}

.three {
    @include borderbox(white);
    background-color: $secondary-color;
    .item {
        &.active {
            .btn-item {
                &:after {
                    content: "\02212";
                    float: right;
                }
            }
            .item-content {
                transition: 0.5s ease-in-out;
                background-color: #00355e;
                @include borderbox(#00355e);
                margin: 1rem 0 1rem 0;
                overflow: visible;
                max-height: 100%;
                opacity: 1;
                padding: 1rem 2rem 1rem 2rem;
                h6 {
                    color: $celeste-color;
                }
                h5 {
                    color: $celeste-color;
                }
                li {
                    line-height: 1.6rem;
                    margin-bottom: 1rem;
                    color: white;
                }
                p {
                    margin-bottom: 1rem;
                    line-height: 1.5rem;
                    color: white;
                }
                ol {
                    padding: 1rem 0 0.5rem 1rem;
                }
                ul {
                    padding-left: 1rem;
                }
                h4 {
                    padding: 1rem 0 1rem 0;
                    line-height: 1.5rem;
                    color: white;
                }
            }
        }
        .btn-item {
            @include borderbox($primary-color);
            @include btnAccordion($primary-color, $font-color);
            margin: 0.5rem 0 0.5rem 0;
            &:after {
                content: "\002b";
                float: right;
            }
        }
        .item-content {
            transition: max-height 0.1s ease-in;
            overflow: hidden;
            max-height: 0;
            color: $secondary-color;
            background-color: $secondary-color;
            h5 {
                color: $secondary-color;
            }
            h4 {
                color: $secondary-color;
            }
            p {
                color: $secondary-color;
            }
            h6 {
                color: $secondary-color;
            }
        }
    }
}

.products {
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .imgMainFrame {
        @include borderbox($secondary-color);
        min-height: 14rem;
        padding: 15px 15px 10px 15px;
        overflow: hidden;
        background-position: center center;
        cursor: pointer;
        .prices {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            h6 {
                padding-bottom: 0.5rem;
                line-height: 1.3rem;
            }
        }
        &:hover {
            .prices {
                display: none;
            }
        }
    }
    .image1 {
        background-image: url(../img/img1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $secondary-color;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in;
            //background-image: url(../img/img2.jpg);
        }
    }
    .image2 {
        background-image: url(../img/img2.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $secondary-color;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in;
        }
    }
    .image3 {
        background-image: url(../img/img3.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $secondary-color;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in;
        }
    }
    .image4 {
        background-image: url(../img/img4.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $secondary-color;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in;
        }
    }
    .image5 {
        background-image: url(../img/img5.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $secondary-color;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in;
        }
    }
    .image6 {
        background-image: url(../img/img6.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: $secondary-color;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in;
        }
    }
}
//modal
.modal {
    &-container {
        background: rgba(#000, 0.8);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        &::before {
            content: "X";
            color: #fff;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.5rem;
            opacity: 0.5;
            cursor: pointer;
        }
    }
    &-content {
        @include borderbox(white);
        background: #fff;
        max-width: 60rem;
        max-height: 24rem;
        margin: 5rem auto;
        padding: 0rem 1rem 0rem 1rem;
        h1 {
            color: $secondary-color;
            text-align: center;
            margin: 2rem 0 1rem 0;
            font-size: 1.5rem;
        }
       
        .divId1 {
            @include divModal();
            background-image: url("../img/modal1.jpg");
        }
        .divId2 {
            @include divModal();
            background-image: url("../img/modal2.jpg");
        }
        .divId3 {
            @include divModal();
            background-image: url("../img/modal3.jpg");
        }
        .divId4 {
            @include divModal();
            background-image: url("../img/modal4.jpg");
        }
        .divId5 {
            @include divModal();
            background-image: url("../img/modal5.jpg");
        }
        .divId6 {
            @include divModal();
            background-image: url("../img/modal6.jpg");
        }
    }
}

//ciclos
@for $i from 1 to $limit {
    .m-#{$i} {
        margin: $i * $unit;
    }
}

@for $i from 1 to $limit {
    .p-#{$i} {
        padding: $i * $unit;
    }
}

@for $i from 1 to $limit {
    .py-#{$i} {
        padding: $i * $unit 0;
    }
}

@for $i from 1 to 4 {
    .w-#{$i} {
        width: $i * 25%;
    }
}

//media
@media screen and (min-width: map-get($breakpoints, "grande")) {
    .row {
        display: flex;
        align-items: center;
        .col {
            width: 50%;
        }
        .col-30 {
            width: 30%;
        }
        .col-70 {
            width: 70%;
            text-align: end;
        }
    }
}

@media screen and(max-width: map-get($breakpoints, "grande")) {
    .divId1 {
        max-width: 40rem;
        max-height: 20rem;
    }
    .divId2 {
        width: 40rem;
        height: 20rem;
    }
    .divId3 {
        width: 40rem;
        height: 20rem;
    }
    .divId4 {
        width: 40rem;
        height: 20rem;
    }
    .divId5 {
        width: 30rem;
        height: 15rem;
    }
    .divId6 {
        width: 20rem;
        height: 15rem;
    }
}

//Media images and padding container
@media screen and (min-width: map-get($breakpoints, "gigante")) {
    .container {
        padding: 3rem 6rem 3rem 6rem;
        //.imgMainCup{max-width: 100%;}
    }
}

@media screen and (max-width: map-get($breakpoints, "grande")) {
    header {
        height: 6rem;
        .menu {
            height: 20rem;
            flex-direction: column;
            align-items: flex-end;
            .menu-item-active {
                transition: 0.5s ease-in-out;
                background-color: #00355e;
                flex-direction: column;
                position: fixed;
                left: 0;
                top: 8.5em;
                width: 100%;
                padding: 1rem 0 1rem 0;
                align-items: center;
                @include borderbox(white);
                li {
                    a {
                        @include btnAccordion($background-color: #00355e, $color: white);
                        @include borderbox(#00355e);
                        &:hover {
                            @include btnAccordion($background-color: $secondary-color, $color: white);
                            @include borderbox($secondary-color);
                        }
                    }
                }
            }
            .menu-item {
                display: none;
            }
            .toggle {
                display: block;
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, "grande")) {
    .imgMainCup {
        max-width: 55rem;
    }
}

@media screen and (max-width: map-get($breakpoints, "normal")) {
    footer {
        hr {
            margin: 1rem 1rem 1rem 0;
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        .imgMainFrame {
            @include borderbox($secondary-color);
            min-height: 12rem;
            padding: 15px 15px 10px 15px;
            overflow: hidden;
            background-position: center center;
            .prices {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                h6 {
                    padding-bottom: 0.5rem;
                    line-height: 1.3rem;
                }
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, "pequeño")) {
    .products {
        display: block;
        gap: 1rem;
        .imgMainFrame {
            @include borderbox($secondary-color);
            min-height: 8rem;
            padding: 15px 15px 10px 15px;
            overflow: hidden;
            background-size: 100%;
            background-position: bottom;
            .prices {
                height: 100%;
                display: flex;
                flex-direction: column-reverse;
                h6 {
                    padding: 0.5rem 0 0 0;
                    font-weight: bolder;
                }
            }
        }
    }
}

@media screen and (max-width: map-get($breakpoints, "normal")) {
    body {
        background: $celeste-color;

        .container {
            min-width: 18rem;
            .btn-item {
                font-size: 16px;
                &:after {
                    font-size: 0px;
                }
            }
        }
        header {
            min-width: 18rem;
        }
        footer {
            min-width: 18rem;
            .logo {
                width: 100%;
            }
            hr {
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
            }
            .footer-text {
                font-size: 10px;
                strong {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .modal-content {
        height: 18rem;
        width: 17rem;
        overflow: hidden;
        .divId1 {
            height: 10rem;
            width: 15rem;
            overflow: hidden;
        }
        .divId2 {
            height: 10rem;
            width: 15rem;
            overflow: hidden;
        }
        .divId3 {
            height: 10rem;
            width: 15rem;
            overflow: hidden;
        }
        .divId4 {
            height: 10rem;
            width: 15rem;
            overflow: hidden;
        }
        .divId5 {
            height: 10rem;
            width: 15rem;
            overflow: hidden;
        }
        .divId6 {
            height: 10rem;
            width: 15rem;
            overflow: hidden;
        }
    }
}
